---
import { ui, defaultLang } from "../i18n/ui.js";

const url = new URL(Astro.request.url);
const lang = url.searchParams.get("lang") || defaultLang;
const t = ui[lang];

import IconCard from "./icons/IconCard.astro";

const iconsTop = [
  { src: "/src/components/icons/icon-react.svg", alt: "React" },
  { src: "/src/components/icons/icon-css3.svg", alt: "CSS3" },
  { src: "/src/components/icons/icon-html5.svg", alt: "HTML5" },
  { src: "/src/components/icons/icon-js.svg", alt: "JavaScript" },
];

const iconsBottom = [
  { src: "/src/components/icons/icon-mysql.svg", alt: "MySQL" },
  { src: "/src/components/icons/icon-C++_Logo.svg", alt: "C++" },
  { src: "/src/components/icons/icon-git.svg", alt: "Git" },
];
---

<section
  id="Stack"
  class="flex flex-col items-center justify-center py-12 rounded-lg shadow-md w-full min-h-screen"
  style="background: radial-gradient(circle, #505050 0%, #363636 50%, #0D0D0D 100%);"
>
  <h2
    class="text-4xl text-greenBright font-bold text-center mb-4 animate__animated animate__fadeInDown"
  >
    {t.stackTitle}
  </h2>
  <div class="text-center mb-8 animate__animated animate__fadeInDown">
    <p>{t.stackIntro1}</p>
    <p>{t.stackIntro2}</p>
    <p>{t.stackIntro3}</p>
  </div>
  <div
    class="flex flex-wrap justify-center gap-8 my-4 animate__animated animate__fadeInLeft"
  >
    {iconsTop.map((icon) => <IconCard icon={icon.src} altText={icon.alt} />)}
  </div>
  <div
    class="flex flex-wrap justify-center gap-8 animate__animated animate__fadeInLeft"
  >
    {iconsBottom.map((icon) => <IconCard icon={icon.src} altText={icon.alt} />)}
  </div>
</section>
